{
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:jest/style"],
  "plugins": ["prettier", "jest"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
    "jest/globals": true
  },
  "globals": {},
  "rules": {
    "prefer-arrow-callback": "error",
    "prettier/prettier": ["error"],
    "no-use-before-define": ["error", { "functions": false }],
    "no-async-promise-executor": "off",
    "no-console": "off"
  }
}
