{
  "extends": ["airbnb", "prettier", "plugin:jest/style"],
  "plugins": ["prettier", "jest"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
    "jest/globals": true
  },
  "globals": {},
  "rules": {
    "prettier/prettier": ["error"],
    "no-underscore-dangle": ["error", { "allow": ["_id", "_rev"] }],
    "no-use-before-define": ["error", { "functions": false }],
    "no-async-promise-executor": "off",
    "no-param-reassign": "off",
    "consistent-return": "off",
    "no-plusplus": "off",
    "no-console": "off",
    "strict": "off"
  }
}
