### Node ###
# Logs
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/

# rollup.js default build output
dist/

# VS Code
.DS_Store
.vscode/

# Environment
/config/env/*
!/config/env/.env_example
